# JWT
JWT_SECRET=
TTL=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
SSL_MODE=

# DBMS
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

PG_URL=postgres://{user}:{password}@{host}:{port}/{database}

# Metrics
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=